body {
    background-color:lightsteelblue;
}

#scrollbar {
    width: 30px;
    height: 300px;
    background-color: lightgray;
    position: relative;
  }

#scrollbar-body {
    width: 100%;
    height: 100%;
}

#scrollbar-thumb {
    width: 100%;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    position: absolute;
    top: 0;
    left: 0;
    cursor: grab;
}

#scrollbar-arrow-up,
#scrollbar-arrow-down {
  width: 100%;
  height: 30px;
  background-color: darkgray;
  position: absolute;
}

#scrollbar-position {
  text-align: center;
  font-size: 30px;
}
